llama-index
llama-index-llms-bedrock-converse
llama-index-observability-otel
boto3
botocore
aws-opentelemetry-distro~=0.10.1
python-dotenv
opentelemetry-api>=1.20.0
opentelemetry-sdk>=1.20.0
opentelemetry-instrumentation>=0.41b0
ipykernel>=6.0.0
